/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
    padding: 0 15px;
}
.icon-block .material-icons {
    font-size: inherit;
}

.bg-blue {
    background-color: #039be5;
}

.text-success {
    color: #3c763d;
}

.btn-success {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}

.modal {
    max-height: 100%;
}

.btn-circle {
    border-radius: 25px;
}

.btn-header-title {
    width: 100%;
}

.alert .card-content span {
    font-weight: bold;
    font-size: 1.1em;
    margin-right: 1px;
}
.alert .card-content .material-icons {
    font-size: 1.5em;
    position: relative;
    top: 5px;
    margin-right: 0.25em;
}
