h1 {
  font-weight: 600;
  font-size: 20px;
}

body.login-page, body.register-page {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow-y: hidden;
}

.font-standard {
  font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif; }

.bold {
  font-weight: bold;
}

.m-t-xs {
  margin-top: 5px; }

.m-t-sm {
  margin-top: 10px; }

.m-t {
  margin-top: 15px; }

.m-t-25 {
  margin-top: 25px; }

.m-l {
  margin-left: 15px; }

.m-r {
  margin-right: 15px; }

.btn-circle {
  border-radius: 15px; }

.text-14 {
  font-size: 14px; }

.text-16 {
  font-size: 16px; }

.text-18 {
  font-size: 18px; }

.text-22 {
  font-size: 22px; }

.badge-white-text {
  color: white !important;
}

.pointer {
  cursor: pointer; }

/* Static Topnav */
.main-header.navbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

.navbar-green {
  background-color: #28a745;
}

.navbar-green .navbar-nav .nav-link {
  color: #fff;
}

.content-wrapper {
  background: #bec5cb;
  padding-top: 50px;
}

.content-header h1 {
  color: white;
  text-shadow: 0 0 5px #007bff, 0 0 5px #007bff;
}

.timeline > div {
  margin-right: 0;
}

.timeline > div > .timeline-item {
  margin-right: 0;
}

.direct-chat-messages {
  height: inherit; }

/* Overwrite rule from adminlte css */
.treeview-menu>li>a>.fa, .treeview-menu>li>a>.glyphicon, .treeview-menu>li>a>.ion {
  width: 15px;
}

nav.main-header, aside a.brand-link {
  border-bottom: 0 !important;
}

.main-sidebar {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Altezza intera della viewport */
}

.sidebar {
  flex-grow: 1; /* Occupa tutto lo spazio disponibile */
  overflow-y: auto; /* Aggiunge lo scroll verticale */
}

.sidebar-footer {
  position: relative;
  bottom: 0;
  width: 100%;
  padding: 10px;
}

.card.card-outline-tabs .card-header a {
  color: #212529;
}

.card.card-outline-tabs .card-header a.active, .dark-mode .card.card-outline-tabs .card-header a.active {
  color: #007bff;
}

.dark-mode .card.card-outline-tabs .card-header a {
  color: #fff;
}

.datatable {
  width: 100%;
}

/*.bg-dark table.dataTable tbody tr {
  background-color: #343a40!important;
  color: #fff;
}*/

.card, .card table, .modal-content, .modal-content table {
  font-size: 18px;
}

.page-show .no-match, .page-show .card .header {
  padding: 8px 10px;
}

.table-layout-fixed {
  table-layout: fixed;
}


.standing {
  color: #989c9b; }
.standing .avatar, #show_results .avatar {
  margin-right: 10px;
  margin-top: -5px;
}
  .standing .standing_wrapper {
    line-height: 1.5em;
    width: 90%;
    max-width: 2000px;
    overflow: hidden; }
  .standing table {
    border-collapse: collapse;
    width: 100%;
    background: #fff; }
  .standing th {
    background-color: #326295;
    font-weight: bold;
    color: #fff;
    white-space: nowrap; }
  .standing td, .standing th {
    padding: 1em 0.5em;
    text-align: left;
    height: 50px; }
  .standing tbody th {
    background-color: #2ea879; }
  .standing tbody tr:nth-child(2n-1) {
    background-color: #f5f5f5;
    transition: all .125s ease-in-out; }
  .standing tbody tr:hover {
    background-color: rgba(50, 98, 149, 0.3); }
  .standing td.rank {
    text-transform: capitalize; }
  .standing td a {
    color: #989c9b; }
  .standing td {
    cursor: pointer; }

#loadingoverlay {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  display: none;
  background: rgba(0,0,0,0.6);
}

.cv-spinner {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  width: 40px;
  height: 40px;
  border: 4px #ddd solid;
  border-top: 4px #2e93e6 solid;
  border-radius: 50%;
  animation: sp-anime 0.8s infinite linear;
}

.nice-select .list {
  height: 250px;
  overflow-y: auto;
}

/** SELECTIZE */

/* Dark mode for Selectize */
.dark-mode .selectize-control {
  background-color: #2c2c2c;
  color: #fff;
  border: 1px solid #444;
}

.dark-mode .selectize-input {
  background-color: #2c2c2c;
  color: #fff;
  border: 1px solid #444;
}

.dark-mode .selectize-dropdown {
  background-color: #1c1c1c;
  border: 1px solid #444;
  color: #fff;
}

.dark-mode .selectize-dropdown-content .option {
  background-color: #1c1c1c;
  color: #fff;
}

.dark-mode .selectize-dropdown-content .option:hover {
  background-color: #444;
}

.dark-mode .selectize-dropdown-content .option.active {
  background-color: #555;
}

.dark-mode .selectize-input.input-active {
  background-color: #2c2c2c;
  border-color: #888;
}

.dark-mode .selectize-input.focus {
  background-color: #333;
  border-color: #888;
}

.selectize-control.is-invalid .selectize-input {
  border-color: #dc3545;
  padding-right: calc(1.6em + 0.75rem) !important;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23dc3545' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right calc(2.4em + 0.1875rem) center;
  background-size: calc(0.8em + 0.375rem) calc(0.8em + 0.375rem);
}

#show_results .table td, .standing_wrapper .table td, #standings-tabContent .table td{
  padding: 0.25rem;
}

.table td, .table th {
  border-top: 0;
}

.small-box {
  height: 85%;
}

.highest_odd_win_wrapper {
  width: 100%;
}

@keyframes sp-anime {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(359deg);
  }
}


/* Style Snowballs and Snowflakes */

.snow-ball-container .snow-ball {
  position: absolute;
  color: #fff;
}

/* Random variations for snowflakes */
.snow-ball-container .snow-ball:nth-child(even) {
  position: absolute;
  animation: flake-motion 15s linear infinite;
}

/* Position the Snowballs above the screen */

.snow-ball-container .snow-ball:nth-child(1) {
  top: -50%;
  left: 5%;
  font-size: 5px;
  animation: snowball-animation 12s linear 2s infinite;
}

.snow-ball-container .snow-ball:nth-child(2) {
  top: -20%;
  left: 10%;
  font-size: 10px;
}

.snow-ball-container .snow-ball:nth-child(3) {
  top: -50%;
  left: 15%;
  font-size: 15px;
  animation: snowball-animation 12s linear infinite;
}

.snow-ball-container .snow-ball:nth-child(4) {
  top: -10%;
  left: 20%;
  font-size: 20px;
}

.snow-ball-container .snow-ball:nth-child(5) {
  top: -20%;
  left: 25%;
  font-size: 25px;
  animation: snowball-animation 12s linear 2s infinite;
}

.snow-ball-container .snow-ball:nth-child(6) {
  top: -40%;
  left: 30%;
  font-size: 30px;
}

.snow-ball-container .snow-ball:nth-child(7) {
  top: -30%;
  left: 35%;
  font-size: 33px;
  animation: snowball-animation 12s linear infinite;
}

.snow-ball-container .snow-ball:nth-child(8) {
  top: -20%;
  left: 40%;
  font-size: 36px;
}

.snow-ball-container .snow-ball:nth-child(9) {
  top: -50%;
  left: 45%;
  font-size: 40px;
  animation: snowball-animation 12s linear 2s infinite;
}

.snow-ball-container .snow-ball:nth-child(10) {
  top: -5%;
  left: 50%;
  font-size: 42px;
}

.snow-ball-container .snow-ball:nth-child(11) {
  top: -20%;
  left: 55%;
  font-size: 44px;
  animation: snowball-animation 12s linear infinite;
}

.snow-ball-container .snow-ball:nth-child(12) {
  top: -10%;
  left: 60%;
  font-size: 46px;
}

.snow-ball-container .snow-ball:nth-child(13) {
  top: -50%;
  left: 65%;
  font-size: 48px;
  animation: snowball-animation 12s linear 2s infinite;
}

.snow-ball-container .snow-ball:nth-child(14) {
  top: -20%;
  left: 70%;
  font-size: 50px;
}

.snow-ball-container .snow-ball:nth-child(15) {
  top: -50%;
  left: 75%;
  font-size: 75px;
  animation: snowball-animation 12s linear infinite;
}

/* Define animations of Snowball and Snowflakes */

@keyframes snowball-animation {
  0% {
    transform: translate(0);
    opacity: 1;
  }
  20% {
    transform: translate(4px, 100px);
    opacity: 0.8;
  }
  40% {
    transform: translate(-7px, 200px);
    opacity: 0.7;
  }
  60% {
    transform: translate(10px, 400px);
    opacity: 0.5;
  }
  80% {
    transform: translate(-14px, 700px);
    opacity: 0.3;
  }
  100% {
    transform: translate(16px, 900px);
    opacity: 0;
  }
}

@keyframes flake-motion {
  0% {
    transform: translate(-2px, 0);
    opacity: 1;
  }
  20% {
    transform: translate(-9px, 200px);
    opacity: 0.9;
  }
  40% {
    transform: translate(14px, 300px);
    opacity: 0.7;
  }
  60% {
    transform: translate(-22px, 400px);
    opacity: 0.6;
  }
  80% {
    transform: translate(30px, 600px);
    opacity: 0.3;
  }
  100% {
    transform: translate(52px, 1000px);
    opacity: 0;
  }
}

@media (max-width: 575.98px) {

}

@media (max-width: 767.98px) {
  .content-header h1 {
    font-size: 1.4rem;
  }
}

@media (max-width: 991.98px) {

}

@media (max-width: 1199.98px) {
  .card, .card table, .modal-content, .modal-content table {
    font-size: 14px;
  }
}

