@import 'https://fonts.googleapis.com/css?family=Work+Sans:300,400,600,700&subset=latin-ext';

#bracket {
    font-size: 12px;
}
@media (min-width: 576px) {
    #bracket  {
        font-size: 22px;
    }
}
@media (min-width: 768px) {
    #bracket  {
        font-size: 22px;
    }
}
@media (min-width: 992px) {
    #bracket  {
        font-size: 24px;
    }
}
body {
    background-color: #f1f1f1;
    font-family: 'Work Sans', 'Helvetica Neue', Arial, sans-serif;
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
.tournament-bracket {
    display: flex;
    flex-direction: column;
}
@media (min-width: 576px) {
    .tournament-bracket {
        flex-direction: row;
        overflow: hidden;
    }
}
@media (max-width: 576px) {
    .standing td {
        height: 30px !important;
    }
    .tournament-bracket__match {
        margin-bottom: 25px;
    }
}
.tournament-bracket__round {
    display: block;
    margin-left: -3px;
    flex: 1;
}
.tournament-bracket__round-title {
    color: #9e9e9e;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    font-style: italic;
    margin-bottom: 0.5em;
}
.tournament-bracket__list {
    display: flex;
    flex-direction: column;
    flex-flow: row wrap;
    justify-content: center;
    height: 100%;
    min-height: 100%;
    border-bottom: 1px dashed #e5e5e5;
    padding-bottom: 2em;
    margin-bottom: 2em;
    transition: padding 0.2s ease-in-out, margin 0.2s ease-in-out;
}
ul.tournament-bracket__list {
    padding-inline-start: 0;
}
@media (max-width: 576px) {
    .tournament-bracket__list {
        padding-bottom: 1em;
        margin-bottom: 1em;
    }
}
@media (min-width: 576px) {
    .tournament-bracket__list {
        border-right: 1px dashed #e5e5e5;
        border-bottom: 0;
        padding-inline-start: 0;
    }
}
.tournament-bracket__round:last-child .tournament-bracket__list {
    border: 0;
}
.tournament-bracket__item {
    display: flex;
    flex: 0 1 auto;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    padding: 2% 0;
    width: 100%;
    transition: padding 0.2s linear;
}
.tournament-bracket__item:nth-child(odd) {
    margin-right: 2%;
}
.tournament-bracket__item:nth-child(even) {
    margin-left: 2%;
}
.tournament-bracket__item::after {
    transition: width 0.2s linear;
}
@media (max-width: 576px) {
    .tournament-bracket__item {
        width: 100%;
    }
    .tournament-bracket__item:nth-child(odd),
    .tournament-bracket__item:nth-child(even) {
        margin-left: 0;
        margin-right: 0;
    }
}
@media (min-width: 576px) {
    .tournament-bracket__item {
        padding: 0.5em 1em;
        width: 100%;
    }
    .tournament-bracket__item:nth-child(odd),
    .tournament-bracket__item:nth-child(even) {
        margin: 0;
    }
    .tournament-bracket__item::after {
        position: absolute;
        right: 0;
        content: '';
        display: block;
        width: 1em;
        height: 45%;
        border-right: 2px solid #9e9e9e;
    }
    .tournament-bracket__item:nth-child(odd)::after {
        top: 50%;
        border-top: 2px solid #9e9e9e;
        transform: translateY(-1px);
    }
    .tournament-bracket--rounded .tournament-bracket__item:nth-child(odd)::after {
        border-top-right-radius: 0.6em;
    }
    .tournament-bracket__item:nth-child(even)::after {
        bottom: 50%;
        border-bottom: 2px solid #9e9e9e;
        transform: translateY(1px);
    }
    .tournament-bracket--rounded .tournament-bracket__item:nth-child(even)::after {
        border-bottom-right-radius: 0.6em;
    }
    .tournament-bracket__round:first-child .tournament-bracket__item {
        padding-left: 0;
    }
    .tournament-bracket__round:last-child .tournament-bracket__item {
        padding-right: 0;
    }
    .tournament-bracket__round:last-child .tournament-bracket__item::after {
        display: none;
    }
    .tournament-bracket__round:nth-last-child(2) .tournament-bracket__item::after {
        border-radius: 0;
        border-right: 2px solid #9e9e9e;
    }
}

@media (min-width: 992px) {
    .tournament-bracket__item {
        padding: 0.5em 1.5em;
    }
    .tournament-bracket__item::after {
        width: 1.5em;
    }
}

.tournament-bracket__match {
    display: flex;
    width: 100%;
    background-color: #ffffff;
    border: 1px solid transparent;
    border-radius: 0.1em;
    outline: none;
    /* cursor: pointer; */
    transition: padding 0.2s ease-in-out, border 0.2s linear;
}

.tournament-bracket__match:focus {
    border-color: #2196F3;
}
.tournament-bracket__match::before,
.tournament-bracket__match::after {
    transition: all 0.2s linear;
}
@media (max-width: 576px) {
    .tournament-bracket__match {
        padding: 0.75em 0.5em;
    }
}
@media (min-width: 576px) {
    .tournament-bracket__match::before,
    .tournament-bracket__match::after {
        position: absolute;
        left: 0;
        z-index: 1;
        content: '';
        display: block;
        width: 1em;
        height: 10%;
        border-left: 2px solid #9e9e9e;
    }
    .tournament-bracket__match::before {
        bottom: 50%;
        border-bottom: 2px solid #9e9e9e;
        transform: translate(0, 1px);
    }
    .tournament-bracket--rounded .tournament-bracket__match::before {
        border-bottom-left-radius: 0.6em;
    }
    .tournament-bracket__match::after {
        top: 50%;
        border-top: 2px solid #9e9e9e;
        transform: translate(0, -1px);
    }
    .tournament-bracket--rounded .tournament-bracket__match::after {
        border-top-left-radius: 0.6em;
    }
}
@media (min-width: 992px) {
    .tournament-bracket__match::before,
    .tournament-bracket__match::after {
        width: 1.5em;
    }
    .tournament-bracket__match::before {
        transform: translate(0, 1px);
    }
    .tournament-bracket__match::after {
        transform: translate(0, -1px);
    }
}
.tournament-bracket__round:last-child .tournament-bracket__match::before,
.tournament-bracket__round:last-child .tournament-bracket__match::after {
    border-left: 0;
}
.tournament-bracket__round:last-child .tournament-bracket__match::before {
    border-bottom-left-radius: 0;
}
.tournament-bracket__round:last-child .tournament-bracket__match::after {
    display: none;
}
.tournament-bracket__round:first-child .tournament-bracket__match::before,
.tournament-bracket__round:first-child .tournament-bracket__match::after {
    display: none;
}
.tournament-bracket__content {
    font-size: 0;
}
.tournament-bracket__content::after {
    content: '';
    width: 1em;
    text-align: center;
    padding: 0.2em 0.1em;
}
@media (min-width: 576px) {
    .tournament-bracket__content::after {
        order: 1;
    }
}
.tournament-bracket__match td {
    text-align: right;
}
.tournament-bracket__content .tournament-bracket__team:first-child {
    order: 0;
    text-align: right;
}
@media (min-width: 576px) {
    .tournament-bracket__content .tournament-bracket__team:first-child .tournament-bracket__country {
        order: 0;
    }
}
@media (min-width: 576px) and (max-width: 768px) {
    .tournament-bracket__content .tournament-bracket__team:first-child .tournament-bracket__country {
         align-items: flex-start;
    }
}
.tournament-bracket__content .tournament-bracket__team:first-child .tournament-bracket__score {
    order: 0;
}
.tournament-bracket__content .tournament-bracket__team .tournament-bracket__score,
.tournament-bracket__content .tournament-bracket__team:first-child .tournament-bracket__score {
    text-align: right;
}

/*@media (min-width: 992px) {
    .tournament-bracket__content .tournament-bracket__team .tournament-bracket__score {
        text-align: left;
    }
    .tournament-bracket__content .tournament-bracket__team:first-child .tournament-bracket__country {
        width: 25%;
    }
}*/
.tournament-bracket__content .tournament-bracket__team:last-child {
    width: 50%;
    order: 2;
    text-align: left;
}
@media (min-width: 576px) and (max-width: 768px) {
    .tournament-bracket__content .tournament-bracket__team {
        font-size: 2px;
    }
    .tournament-bracket__content .tournament-bracket__team:last-child {
        align-items: flex-start;
    }
}
@media (min-width: 576px) {
    .tournament-bracket__content .tournament-bracket__team:last-child .tournament-bracket__country {
        justify-content: flex-start;
    }
}
/*@media (min-width: 576px) and (max-width: 768px) {
    .tournament-bracket__content .tournament-bracket__team:last-child .tournament-bracket__country {
        align-items: flex-start;
    }
}*/
.tournament-bracket__content .tournament-bracket__team:last-child .tournament-bracket__code {
    order: 1;
}
.tournament-bracket__table {
    width: 100%;
}
.tournament-bracket__caption {
    font-size: 0.8rem;
    color: #BDBDBD;
    font-weight: 300;
    padding-bottom: 0.75em;
}
.tournament-bracket__team {
    flex-direction: row-reverse;
    justify-content: space-between;
}
@media (min-width: 576px) {
    .tournament-bracket__team {
        flex-direction: column-reverse;
    }
}
@media (min-width: 576px) {
    .tournament-bracket__team {
        flex-direction: column-reverse;
    }
}
.tournament-bracket__country {
    font-size: 14px;
    margin-top: 2em;
  /*  align-items: center;*/
}
@media (max-width: 1200px) {
    .tournament-bracket__country {
        font-size: 10px;
    }
}
@media (max-width: 954px) {
    .tournament-bracket__country {
        font-size: 8px;
    }
}

@media (max-width: 576px) {
    .tournament-bracket__country {
        margin-top: 0;
    }
}
@media (min-width: 576px) and (max-width: 768px) {
    .tournament-bracket__country {
        display: flex;
        flex-direction: column;
    }
    .tournament-bracket__country .tournament-bracket__code {
        margin-top: 0.2em;
    }
}
.tournament-bracket__code {
    padding: 0 0.5em;
    color: #212121;
    font-weight: 600;
    text-transform: uppercase;
    border: 0;
    text-decoration: none;
   /* cursor: pointer; */
    transition: padding 0.2s ease-in-out;
}
@media (max-width: 576px) {
    .tournament-bracket__code {
        padding: 0 0.25em;
    }
}
@media (min-width: 576px) and (max-width: 768px) {
    .tournament-bracket__code {
        padding: 0;
    }
}
.tournament-bracket__number {
    display: inline-block;
    padding: 0.2em 0.4em 0.2em;
    border-bottom: 0.075em solid transparent;
    font-size: 14px;
    background-color: #F5F5F5;
    border-color: #dddddd;
}
@media (max-width: 1200px) {
    .tournament-bracket__number {
        font-size: 10px;
    }
}
@media (max-width: 954px) {
    .tournament-bracket__number {
        padding: 0.0em 0.0em 0.0em;
        font-size: 9px;
    }
}
.tournament-bracket__team--winner .tournament-bracket__number {
    background-color: #FFF176;
    border-color: #fad674;
}
.tournament-bracket__medal {
    padding: 0 0.5em;
}
.tournament-bracket__medal--gold {
    color: #FFD700;
}
.tournament-bracket__medal--silver {
    color: #C0C0C0;
}
.tournament-bracket__medal--bronze {
    color: #CD7F32;
}

@media (max-width: 740px) {
    .tournament-bracket {
        font-size: 4px;
    }
    .tournament-bracket__country {
        font-size: 12px;
    }
    .tournament-bracket__number {
        font-size: 12px;
    }
}